body{
    background: #2A88AD;
  }
  form{
    width:450px;
	padding:30px;
	margin:40px auto;
      background: #FFF;
      border-radius: 20px;
      -webkit-border-radius:20px;
      -moz-border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
  }
  label{
      margin-top: 5px;
      font-size: 20px;
      font-weight: 300;
      font-style: normal;
  }
  input{
    background-color: #96bcdb;
    height: 35px;
    border-top: none;
    border-radius: 7px;
    border-left: none; 
    border-right: none;
    border-bottom: 2px solid rgb(88, 88, 88);
    padding-left: 15px;
  }
  .aa{
    display: flex;
    justify-content: flex;
  }
table,th,td{
  border: 2px solid bisque;
  padding: 5px;

}
table{
  margin-top: 200px;
  }